* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f6f8;
  color: #111;
}

.header {
  background: linear-gradient(135deg, #fffc00, #fff44f);
  padding: 35px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}

.header h1 {
  font-size: 48px;
  margin-left: -35px;
}

.header h3 {
  font-weight: 400;
  margin-left: -35px;

}

/* LAYOUT */
.container {
  display: flex;
  width: 1300px;
  margin: 70px auto; 
  gap: 20px; /*Basicly nrdi gap okrog vseh elementov*/
}

/* MENU */
.menu {
  list-style: none;
  width: 200px;
  background: #000;
  border-radius: 16px;
  padding: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.menu li {
  padding: 14px 18px;
  margin: 6px 0;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  transition: all 0.25s ease;
}

.menu li:hover {
  background: #fffc00;
  color: black;
  transform: translateY(-2px);/*premakne mal gor ka hoveras*/
}

/* MAIN CONTENT */
.main {
  flex: 1; /*It ignores its content width initially and grows from 0, it tells the browser how that item should grow or shrink relative to others.*/
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.20);
}

.main h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

/* RIGHT SIDEBAR */
.right {
  width: 240px;
  background: #fffc00;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.right h2 {
  margin-bottom: 8px;
  font-weight: 600;
}

.right p {
  font-size: 15px;
  margin-bottom: 15px;
}

/* FOOTER */
.footer {
  background: #000;
  color: white;
  text-align: center;
  padding: 16px;
  font-size: 14,5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* LOGOS */
.logo {
  display: none;
}

svg,img,canvas {
  width: 100%;
  height: auto;
}

/* CANVAS CENTERING */
#canvas {
  display: flex;
  justify-content: center;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

.menu,.right {
    width: 100%;
  }

.menu {
    display: flex;
    justify-content: space-around;
  }

.menu li {
    flex: 1;
    margin: 5px;
  }

}
